@media screen and (max-width: 1600px) {
    .container {
        width: 1200px;
    }

    #mainscreen h1 {
        margin-top: 300px;
        font-size: 123px;
    }

    #mainscreen {
        height: 1260px;
    }

    #author .texts {
        font-size: 24px;
        margin-top: 80px;
    }

    #author .texts .big {
        font-size: 78px;
    }

    #author img {
        width: 520px;
    }

    #collections > .container > .heading_text {
        font-size: 125px;
    }

    .pattern-block {
        width: 200px;
        height: 200px;
    }

    .pattern-block:nth-child(2) > img {
        width: 212px;
    }

    .pattern-block:nth-child(3) > img {
        width: 319px;
    }

    .pattern-block:nth-child(4) > img {
        width: 343.5px;
    }

    .collection_flex .ball {
        width: 402px;
        height: 402px;
    }

    .collection_flex {
        gap: 70px;
    }

    .collection_flex .collection_name h2 {
        font-size: 54px;
        line-height: 65px;
    }

    .collection_flex .collection_name h3 {
        font-size: 30px;
        line-height: 35px;
    }

    .collection_flex .collection_name p {
        font-size: 16px;
    }

    .collection_flex .collection_name p:nth-of-type(2) {
        margin-left: -1px;
    }

    .collection_flex .photo img {
        width: 500px;
    }

    .collection_flex.right .ball {
        margin-left: 160px;
    }

    .collection_flex.right .texts > p {
        margin-top: 40px;
        max-width: 460px;
    }

    .collection_flex .texts > p {
        margin-left: 80px;
        margin-top: 80px;
    }

    .underline-btn {
        font-size: 30px;
    }

    .collection_flex.right {
        margin-bottom: 240px;
    }

    .collection_flex .dots {
        top: 2800px;
    }

    .collection_flex .underline-btn-container span {
        letter-spacing: 0.71em;
    }

    .pattern_line img {
        height: 580px;
        top: 620px;
    }

    .collection_serie {
        margin-top: 270px;
    }

    .pattern_line {
        height: 1920px;
    }

    #quote .after_quote {
        margin-top: 260px;
    }

    #quote .after_quote h1 {
        font-size: 237px;
    }

    .filter_categories {
        grid-template-columns: 1fr;
        grid-gap: 30px 40px;
    }

    .popup_header {
        margin-bottom: 50px;
    }

    .gallery_block {
        padding: 30px 0 35px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .gallery_block img {
        object-fit: contain;
    }

    .gallery_image_container {
        margin-bottom: 20px;
    }

    .gallery_block:nth-child(even) {
        align-items: end;
    }

    .gallery_block h1 {
        height: 120px;
        font-size: 48px;
        line-height: 56.81px;
    }

    .gallery_block p {
        font-size: 27px;
    }

    .gallery_block > span {
        font-size: 20px;
        margin-bottom: 130px;
    }


    .gallery_block button {
        padding: 26px;
        width: calc(50vw - 310px);
        transform: translateX(calc((50vw - 590px) * -1));
        background: black;
        margin-top: -100px;
        height: 100px;
        overflow: hidden;
    }

    .gallery_block:nth-child(even) button {
        transform: translateX(calc((50vw - 590px)));
    }

    .gallery_block button span {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.7em;
        max-width: 240px;
    }

    .gallery {
        margin-top: 30px;
    }

    #gallery {
        padding: 250px 0;
    }

    #drawForMe h1 {
        font-size: 130px;
        line-height: 150px;
        margin-bottom: 100px;
    }

    #drawForMe p:first-of-type {
        margin-bottom: 100px;
    }

    #drawForMe p {
        font-size: 18px;
        line-height: 21px;
        max-width: 500px;
    }

    #drawForMe .big, .text-container .big {
        font-size: 35px;
        line-height: 43px;
    }

    .text-container {
        width: 470px;
        font-size: 20px;
        line-height: 24px;
    }

    .slider-container {
        width: 660px;
        height: 700px;
    }

    #drawForMe .dots {
        height: 1010px;
    }

}