@media screen and (max-width: 1200px) {
    .container {
        width: 320px;
    }

    .pc {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    #mainscreen h1 {
        font-size: 64px;
        font-weight: 500;
        line-height: 74.53px;
        text-align: left;
        white-space: wrap;
        animation: textScale 3s ease-in-out 6.6s forwards;
    }

    @keyframes textScale {
        0% {
            opacity: 0;
            transform: scale(1.2);
        }
        60% {
            opacity: 1;
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    #slinky .layer {
        left: 80px !important;
        width: 330vw !important;
    }

    #mainscreen .dots {
        width: 100%;
        left: 0;
    }

    #author {
        flex-direction: column;
        gap: 30px;
        margin-top: 100px;
    }

    #author img {
        width: 100%;
    }

    #author .texts {
        font-size: 20px;
        line-height: 24px;

        margin-top: 0;
    }

    #author .texts .big {
        font-size: 40px;
        line-height: 48.01px;

    }

    #collections > .container > .heading_text {

        font-size: 70px;
        line-height: 81.52px;
        text-align: left;
    }

    #collections > .container > .heading_text > span {
        font-size: 66px;
        font-weight: 500;
        line-height: 45.54px;

    }

    .patterns {
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .pattern-block {
        width: 256px;
        height: 256px;
    }

    .pattern-block:nth-child(1) > picture img {
        left: -49px;
        width: 119%;
    }

    .pattern-block:nth-child(2) > picture img {
        width: 322px;
    }

    .pattern-block:nth-child(3) > picture img {
        width: 304px;
        left: -50px;
    }

    .pattern-block:nth-child(4) > picture img {
        width: 318.5px;
    }

    .collection_serie h2 {
        margin-left: 0;
    }

    .collection_serie p {
        margin-left: 0;
    }

    .collection_flex {
        flex-direction: column;
        gap: 40px;
    }

    .collection_flex .photo img {
        width: 100%;
    }

    .collection_flex .ball {
        width: 310px;
        height: 310px;
    }

    .collection_flex.right .ball {
        margin: 0;
    }

    .collection_flex.right {
        flex-direction: column-reverse;
        margin-bottom: 80px;
    }

    .collection_flex:not(.first) .ball {
        margin: 0;
    }

    .pattern_line {
        height: 2050px;
    }

    .collection__under_text {
        margin-top: 40px;
        max-width: 90%;
    }

    .pattern_line img {
        height: 480px;
        top: 400px;
        right: -50%;
    }

    .collection_flex:nth-child(1) {
        margin-top: -2600px;
    }

    .collection_flex .collection_name h2 {
        font-size: 36px;
        line-height: 43.21px;
    }

    .collection_flex .collection_name h3 {
        font-size: 20px;
        line-height: 23.88px;
    }

    .collection_flex .collection_name p {
        font-size: 12px;
        line-height: 14.4px;
        letter-spacing: 1.21em;
    }

    .collection_flex .collection_name p span {
        font-size: 12px;
        line-height: 14.4px;
        letter-spacing: 0.18em;
    }

    .collection_flex .collection_name p:nth-of-type(2) {
        margin-left: -5px;
    }

    .collection_flex .underline-btn-container {
        margin-top: 40px;
    }

    #collections {
        width: 100%;
        overflow: hidden;
        z-index: 2;
    }

    .collection_flex > p {
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: justify;
    }

    .collection_flex > p .big {
        font-size: 48px;
        font-weight: 400;
        line-height: 57.61px;
    }

    .collection_flex > .underline-btn-container {
        margin-top: 0;
        justify-content: end;
    }

    .collection_flex .underline-btn-container span.yellow {
        text-align: left;
    }

    .collection_flex .dots {
        width: 100%;
        top: 4820px;
        height: 300px;
    }

    .quote_container {
        flex-direction: column;
        gap: 200px;
        align-items: start;
        justify-content: start;
        margin-top: -444px;
    }

    .quote_container img {
        width: 225px;
        height: 225px;
    }

    #quotes_slinky {
        left: -1860px;
    }

    #quote {
        position: relative;
        margin-top: -470px;
    }

    .quote {
        position: relative;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        max-width: 98%;
        text-align: justify;
        margin-right: 0;
    }

    .quote_container span {
        margin-top: 20px;
    }

    .quote::before {
        display: none;
    }

    .quote::after {
        right: 0;
        top: -90px;

        font-size: 96px;
    }

    #quote .underline-btn-container {
        margin-top: 122px;
        flex-direction: column;
        padding: 0;
        gap: 90px;
    }

    #quote .underline-btn-container p {
        font-size: 32px;
        line-height: 37.27px;

    }

    #quote .dots {
        width: 100%;
        height: 210px;
        top: 1210px;
    }

    #quote .after_quote {
        margin-top: 170px;
    }

    #quote .after_quote h1 {
        font-size: 109px;
        line-height: 126.94px;
        letter-spacing: -22px;
    }

    #quote .after_quote svg {
        width: 25px;
        height: 25px;
    }

    #quote .after_quote p {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1.21em;
        margin-top: -14px;
    }

    .filter_button {
        padding-bottom: 40px;
        padding-right: 0;
        margin-bottom: 20px;
        width: 100%;
        justify-content: space-between;
    }

    .filter_button span, .filter_popup h2 {
        font-size: 24px;
        line-height: 27.95px;
    }

    .filter {
        width: 100%;
        position: static;
    }

    .filter_popup {
        padding: 60px 40px;
        width: 100%;
        height: 105vh;
        position: fixed;
        top: -30px;
        border-radius: 0;
        background: black;
    }

    .popup_header {
        margin-bottom: 30px;
    }

    .filter_popup h2 {
        color: #fff;
    }

    .filter_popup label p {
        font-size: 30px;
        line-height: 48.01px;
    }

    #gallery {
        padding: 750px 0 100px;
        margin-top: -500px;
    }

    .checkmark {
        background-color: #000;
        border: 1px solid #E9E9E9;
    }

    .chosen_filter span {
        font-size: 32px;
        line-height: 38.41px;

    }

    .gallery_bottom, .gallery_top {
        width: 130%;
    }

    .gallery_body {
        margin-top: 80px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery_block {
        padding: 25px 0 40px;
    }

    .gallery_image_container {
        margin-bottom: 35px;
        max-width: 100%;
    }

    .gallery_block img {
        width: 100%;
        height: auto;
    }

    .gallery_block .magnifier {
        width: 95px;
        height: 95px;
    }

    .gallery_block h1 {
        font-size: 36px;
        line-height: 43.21px;
        height: auto;
    }

    .gallery_block p {
        font-size: 20px;
        line-height: 23.88px;
    }

    .gallery_block span {
        font-size: 16px;
        line-height: 19.2px;
    }

    .gallery_active_background {
        width: 100vw;
        right: -50px;
        border-top-right-radius: 202px;
        border-bottom-right-radius: 20px;
    }

    .gallery_block button {
        padding: 18px;
        width: calc(50vw + 122px);
        transform: translateX(calc((50vw - 150px) * -1));
    }

    .gallery_block .button-ball {
        width: 160px;
        height: 160px;
    }

    .gallery_block:nth-child(even) {
        align-items: start;
    }

    .gallery_block:nth-child(even) {
        text-align: left;
    }

    .gallery_block:nth-child(even) .gallery_active_background {
        left: -50px;
        border-radius: 202px 0 0 20px;
    }

    .gallery_block:nth-child(even) button {
        transform: translateX(calc((50vw - 190px)));
    }

    .control {
        padding: 20px;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.937em;
    }

    #gallery .callback-form {
        margin-top: 90px;
        height: 640px;
    }

    .form h1 {
        margin-bottom: 70px;
        font-size: 24px;
        line-height: 27.95px;
        text-align: center;
    }

    .form .input {
        padding: 15px 0 15px 20px;
        width: 100%;
    }

    .form input, .form .hidden_input textarea {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1.21em;
        width: calc(100% - 70px);
    }

    .form button {
        font-size: 24px;
        line-height: 28.8px;
    }

    form .hidden_input {
        margin-top: 30px !important;
        padding: 40px 20px !important;
    }

    .form p {
        margin-left: 0;
        max-width: 100%;
        text-align: justify;
        font-size: 20px;
        line-height: 24px;
    }

    .form p .big {
        font-size: 32px;
        line-height: 38.41px;

    }

    .hidden_input textarea {
        height: 170px;
    }

    #gallery_form_slinky {
        right: -140px;
        top: -280px;
    }

    #gallery .callback-form {
        height: 610px;
        margin-bottom: -310px;
    }

    footer {
        width: 320px;

    }

    footer nav {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer_body {
        padding: 50px 15px;
    }

    header .filter_button {
        margin: 0;
        padding: 0;
        width: auto;
    }

    header .filter_burger span {
        background: white;
        width: 24px;
        height: 2px;
    }

    header .filter_burger {
        gap: 5px;
    }

    header .filter_burger span:last-child {
        height: 3px;
    }

    header .filter_button:hover .filter_burger span:nth-child(1) {
        transform: translate(0, 0) !important;
    }

    header .filter_button:hover .filter_burger span:nth-child(2) {
        transform: translate(0, 0) !important;
    }

    header .filter_button:hover .filter_burger span:nth-child(3) {
        transform: translate(0, 0) !important;
    }

    .menu_popup .popup_header {
        justify-content: end;
    }

    .menu_popup nav {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .menu_popup nav a {
        font-size: 32px;
        line-height: 38.41px;
        letter-spacing: 0.2em;
        transition: .3s;
    }

    .menu_popup nav a:nth-child(1) {
        color: #417E78;
    }

    .menu_popup nav a:nth-child(2) {
        color: #C15E57;
    }

    .menu_popup nav a:nth-child(3) {
        color: #B6A546;
    }

    .menu_popup nav a:nth-child(4) {
        color: #90AFA0;
    }

    .menu_popup nav a:hover {
        color: #fff;
    }

    #callbackForm {
        display: flex;
        flex-direction: column;
    }

    #callbackForm h1 {
        font-family: Engravers MT;
        font-size: 64px;
        font-weight: 500;
        line-height: 74.53px;
    }

    #callbackForm .callback-form {
        width: 100%;
    }

    #callback_form_slinky {
        top: -722px;
        left: -92px;
    }

    .form.black .input {
        padding-right: 0;
    }

    form.black input {
        width: 235px !important;
    }

    form.black .hidden_input textarea {
        width: 100% !important;
    }

    #contacts h1 {
        font-size: 32px;
        line-height: 37.27px;
    }

    .contacts {
        margin-top: 90px;
        margin-bottom: -240px;
        gap: 40px;
    }

    .contact img {
        max-width: auto;
        height: 100px;
    }

    .contact {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        align-items: start;
        justify-content: start;
    }

    .contact:nth-child(2) {
        align-items: end;
    }

    .contact-data.email a {
        font-size: 32px;
        line-height: 35px;
    }

    .contact-data.adress a, .contact-data.adress span {
        font-size: 20px;
        line-height: 24px;
    }

    .contact-data {
        width: 80%;
    }

    .contact-data .underline-btn-container {
        gap: 24px;
    }

    .contact-data .underline-btn {
        font-size: 23.5px;
    }

    #drawForMe {
        margin-top: -70px;
    }

    #drawForMe h1 {
        font-size: 32px;
        line-height: 37.27px;
        margin-bottom: 80px;
    }

    #drawForMe p:first-of-type {
        margin-bottom: 70px;
    }

    #drawForMe .callback-form {
        margin-top: -410px;
    }

    .white-block {
        width: 200vw;
        left: -60vw;
        height: 270px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .text-container {
        width: 100%;
    }

    .slider-container {
        width: 100%;
        height: auto;
        top: -422px;
        overflow: initial;
    }

    #drawForMe .dots {
        height: 608px;
    }

    .slider-wrapper {
        margin-top: 500px;
    }

    #contacts {
        margin-top: 200px;
    }


    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        margin-top: 490px !important;
        padding: 10px;
    }

    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        margin-top: 490px !important;
        padding: 10px;
    }

    .swiper-pagination {
        bottom: -290px !important;
        z-index: 0 !important;
    }

    .swiper-container {
        width: 150%;
    }

    .swiper-slide img {
        max-width: 310px;
    }


}